.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* src/Grid.css */
.grid {
  display: flex;
  flex-direction: column;
  width: 600px;
  border: 1px solid #000;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  height: 25px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.start {
  background-color: green; 
}

.end {
  background-color: red;
}

.path {
  background-color: blue;
}
.cell.obstacle {
  background-color: gray;
}